/*$orange   : #BD3613;*/
$blue     : #2176C7;
/*$hexagon: cornflowerblue;*/
$hexagon: #2176C7;

$wrapperWidth: 1024px;

$slideHeight: 450px;
$slideWidth: 1024px;
$arrowHeight:60px;
$arrowWidth: 34px;

$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;
$font-title: Courier;
$font-content: Georgia;

/*$default-border-radius : 10px;*/